.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: 7.9vh;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: #d3e0ea;
  overflow: hidden;
}

.nav {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5em .5em;
  width: 100%;
  height: 8vh;
  font-size: 3rem;
  background-color: #d3e0ea;
  z-index: 20;
}

.nav a {
  text-decoration: none;
  color: #111111;
  font-size: 2rem;
  text-transform: uppercase;
}

.nav__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 .1em;
}

.nav__box-links--desktop {
  display: none;
}

.nav__box-logo {
  font-family: 'Train One', cursive;
  font-size: 2.4rem;
  padding: .1em .3em;
}

.nav__box-barsBtn {
  background: none;
  border: transparent;
  font-size: 2.4rem;
  cursor: pointer;
}

.nav__box-barsBtn i {
  padding: .1em .3em;
}

.nav__links--mobile {
  position: fixed;
  top: 8vh;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 0vh;
  width: 100%;
  background-color: #d3e0ea;
  -webkit-transition: height .6s;
  transition: height .6s;
}

.nav__links--mobile a {
  top: 8vh;
  padding: .3em .3em;
  font-size: 1.6rem;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: color .3s, -webkit-transform .6s;
  transition: color .3s, -webkit-transform .6s;
  transition: transform .6s, color .3s;
  transition: transform .6s, color .3s, -webkit-transform .6s;
}

.nav__links--mobile a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1687a7;
  height: 2px;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.nav__links--mobile a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav__links--mobile a:hover {
  color: #1687a7;
}

.nav__links--mobile--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d3e0ea;
  height: 8vh;
}

.nav__links--mobile--active a {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(17%, rgba(22, 135, 167, 0.7)), color-stop(80%, rgba(39, 102, 120, 0.7))), url("../img/header/background-640.jpg");
  background-image: linear-gradient(90deg, rgba(22, 135, 167, 0.7) 17%, rgba(39, 102, 120, 0.7) 80%), url("../img/header/background-640.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}

.header__heading {
  padding: .2em 0;
  font-size: 3rem;
  font-family: 'Train One', cursive;
  text-transform: uppercase;
}

.header__text {
  padding-bottom: .4em;
  font-size: 2rem;
  text-shadow: 1px 1px #111111;
  text-align: center;
}

.header__button {
  position: relative;
  margin-top: .4rem;
  padding: .6em 2.5em;
  font-size: 1.4rem;
  color: #111111;
  background: #f6f5f5;
  border: 2px solid #276678;
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: border .3s, color .3s;
  transition: border .3s, color .3s;
}

.header__button::before {
  content: 'calm';
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: -50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #276678;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.header__button:hover {
  border: 2px solid transparent;
  color: #d3e0ea;
}

.header__button:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

main {
  background-color: #d3e0ea;
}

main .keep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  color: #111111;
}

main .keep-section-heading {
  font-family: 'Train One', cursive;
  font-size: 3rem;
  padding: .5em 0;
  padding-bottom: .6em;
  text-align: center;
  font-weight: normal;
  letter-spacing: 2px;
}

main .keep__emotion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  height: auto;
  width: 90%;
}

main .keep__emotion-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 50vh;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(17%, rgba(22, 135, 167, 0.7)), color-stop(80%, rgba(39, 102, 120, 0.7))), url("../img/sections/keep/strong/strong-640.jpg");
  background-image: linear-gradient(90deg, rgba(22, 135, 167, 0.7) 17%, rgba(39, 102, 120, 0.7) 80%), url("../img/sections/keep/strong/strong-640.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

main .keep__emotion-img-head {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 5rem;
  color: #d3e0ea;
  font-weight: bold;
  letter-spacing: 5px;
  text-shadow: 2px 2px 30px #111111;
  text-transform: uppercase;
}

main .keep__emotion-img--proud {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(17%, rgba(22, 135, 167, 0.7)), color-stop(80%, rgba(39, 102, 120, 0.7))), url("../img/sections/keep/proud/proud-640.jpg");
  background-image: linear-gradient(90deg, rgba(22, 135, 167, 0.7) 17%, rgba(39, 102, 120, 0.7) 80%), url("../img/sections/keep/proud/proud-640.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

main .keep__emotion-img:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

main .keep__emotion-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 2.1rem;
  padding: .7em;
  padding-bottom: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .hero-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(17%, rgba(22, 135, 167, 0.7)), color-stop(80%, rgba(39, 102, 120, 0.7))), url("../img/sections/hero/hero-640.jpg");
  background-image: linear-gradient(90deg, rgba(22, 135, 167, 0.7) 17%, rgba(39, 102, 120, 0.7) 80%), url("../img/sections/hero/hero-640.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 100%;
  background-position-y: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

main .hero-img__title {
  font-family: 'Train One', cursive;
  font-size: 3.6rem;
  text-transform: uppercase;
  padding: .2em;
}

main .hero-img__text {
  font-size: 2.1rem;
  padding: .4em;
  -webkit-transition: color .3s;
  transition: color .3s;
}

main .hero-img__text:hover {
  color: rgba(255, 255, 255, 0.6);
}

main .hero-img hr {
  width: 90%;
  margin: 0 auto;
}

main .calm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f6f5f5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-perspective: 2000px;
          perspective: 2000px;
}

main .calm__section-heading {
  font-family: 'Train One', cursive;
  font-size: 3rem;
  padding: .5em 0;
  padding-bottom: .6em;
  text-align: center;
  font-weight: normal;
  letter-spacing: 2px;
  color: #111111;
}

main .calm__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 90%;
  height: 40vh;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

main .calm__card--second {
  margin: 3rem auto;
}

main .calm__card--third {
  margin-bottom: 3rem;
}

main .calm__card-front {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotateY(180);
          transform: rotateY(180);
  opacity: 1;
  -webkit-transition: opacity .6s, -webkit-transform .6s;
  transition: opacity .6s, -webkit-transform .6s;
  transition: opacity .6s, transform .6s;
  transition: opacity .6s, transform .6s, -webkit-transform .6s;
}

main .calm__card-front__head {
  position: absolute;
  top: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 2.1rem;
}

main .calm__card-front__more-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

main .calm__card-front--first {
  background-size: cover;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(17%, rgba(22, 135, 167, 0.7)), color-stop(80%, rgba(39, 102, 120, 0.7))), url("../img/sections/calm/pain/pain-640.jpg");
  background-image: linear-gradient(90deg, rgba(22, 135, 167, 0.7) 17%, rgba(39, 102, 120, 0.7) 80%), url("../img/sections/calm/pain/pain-640.jpg");
}

main .calm__card-front--second {
  background-size: cover;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(17%, rgba(37, 22, 167, 0.7)), color-stop(80%, rgba(39, 120, 103, 0.7))), url("../img/sections/calm/fear/fear-640.jpg");
  background-image: linear-gradient(90deg, rgba(37, 22, 167, 0.7) 17%, rgba(39, 120, 103, 0.7) 80%), url("../img/sections/calm/fear/fear-640.jpg");
}

main .calm__card-front--third {
  background-size: cover;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(17%, rgba(22, 167, 95, 0.7)), color-stop(80%, rgba(120, 39, 120, 0.7))), url("../img/sections/calm/loneliness/loneliness-640.jpg");
  background-image: linear-gradient(90deg, rgba(22, 167, 95, 0.7) 17%, rgba(120, 39, 120, 0.7) 80%), url("../img/sections/calm/loneliness/loneliness-640.jpg");
}

main .calm__card-back {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  opacity: 0;
  -webkit-transition: opacity .6s, -webkit-transform .6s;
  transition: opacity .6s, -webkit-transform .6s;
  transition: opacity .6s, transform .6s;
  transition: opacity .6s, transform .6s, -webkit-transform .6s;
}

main .calm__card-back__head {
  position: absolute;
  top: 1rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 2.1rem;
}

main .calm__card-back__description {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
}

main .calm__card-back__description__item {
  position: relative;
  margin: .6em;
  list-style: none;
}

main .calm__card-back__description hr {
  margin: 0 auto;
  width: 0%;
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

main .calm__card-back--first {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(17%, #1687a7), color-stop(80%, #276678));
  background-image: linear-gradient(90deg, #1687a7 17%, #276678 80%);
}

main .calm__card-back--second {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(17%, #2516a7), color-stop(80%, #277867));
  background-image: linear-gradient(90deg, #2516a7 17%, #277867 80%);
}

main .calm__card-back--third {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(17%, #16a75f), color-stop(80%, #782778));
  background-image: linear-gradient(90deg, #16a75f 17%, #782778 80%);
}

main .calm__card:hover .calm__card-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  opacity: 0;
}

main .calm__card:hover .calm__card-back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  opacity: 1;
}

main .calm__card:hover hr {
  width: 60%;
}

main .therapy {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(17%, rgba(22, 135, 167, 0.7)), color-stop(80%, rgba(39, 102, 120, 0.7))), url("../img/sections/therapy/background/therapy-bgc-640.jpg");
  background-image: linear-gradient(90deg, rgba(22, 135, 167, 0.7) 17%, rgba(39, 102, 120, 0.7) 80%), url("../img/sections/therapy/background/therapy-bgc-640.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .therapy__section-heading {
  font-family: 'Train One', cursive;
  font-size: 3rem;
  padding: .5em 0;
  padding-bottom: .6em;
  text-align: center;
  font-weight: normal;
  letter-spacing: 2px;
}

main .therapy__offers-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: 0 auto;
}

main .therapy__offers-box--middle {
  margin: 3rem auto;
}

main .therapy__offers-box--last {
  margin-bottom: 3rem;
}

main .therapy__offers-box__img {
  height: 30vh;
  width: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

main .therapy__offers-box__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  background-color: #d3e0ea;
  color: #111111;
}

main .therapy__offers-box__right__head {
  font-size: 3rem;
  text-align: center;
  padding: .3em;
  text-transform: uppercase;
}

main .therapy__offers-box__right__text {
  font-size: 2rem;
  padding: .45em;
}

main .therapy__offers-box__right__btn {
  position: relative;
  background-color: #1687a7;
  border: none;
  margin: .45em;
  margin-bottom: .9em;
  padding: .45em;
  border-radius: 8px;
  font-size: 2rem;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 10;
  overflow: hidden;
  -webkit-transition: color .6s;
  transition: color .6s;
}

main .therapy__offers-box__right__btn::before {
  position: absolute;
  top: -10%;
  left: 0;
  content: '';
  width: 100%;
  height: 200%;
  background-color: #276678;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  z-index: -1;
}

main .therapy__offers-box__right__btn:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

main .therapy__offers-box__right__btn:hover {
  color: #f6f5f5;
}

main .therapy__offers-box__button {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  background: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

main .contact {
  color: #111111;
}

main .contact__section-heading {
  font-family: 'Train One', cursive;
  font-size: 3rem;
  padding: .5em 0;
  padding-bottom: .6em;
  text-align: center;
  font-weight: normal;
  letter-spacing: 2px;
}

main .contact__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

main .contact__box__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .contact__box__top__label {
  margin: .2em 0;
}

main .contact__box__top__input {
  margin: .2em 0;
}

main .contact__box__textarea {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  min-height: 150px;
  margin: .2em 0;
}

main .contact__box__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .contact__box__submit-text {
  padding: .5em;
  opacity: 0;
}

main .contact__box__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .5em;
  margin-top: .3em;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 100px;
  background-color: #1687a7;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

main .contact__box__button:hover {
  background-color: #276678;
}

main .contact__box button {
  font-size: 1.6rem;
  background: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.footer {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(17%, rgba(22, 135, 167, 0.7)), color-stop(80%, rgba(39, 102, 120, 0.7))), url("../img/footer/footer-small.jpg");
  background-image: linear-gradient(90deg, rgba(22, 135, 167, 0.7) 17%, rgba(39, 102, 120, 0.7) 80%), url("../img/footer/footer-small.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 3rem 0;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__box__head {
  font-size: 1.8rem;
  padding: .2em;
}

.footer__box__text {
  font-size: 1.4rem;
  text-align: center;
  padding: .2em;
  width: 90%;
}

.footer__box__links {
  font-size: 1.4rem;
  text-decoration: none;
  margin: .4em;
}

.footer__box__links a {
  padding: .4em;
  cursor: pointer;
  color: #f6f5f5;
}
/*# sourceMappingURL=style.css.map */