*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: #d3e0ea;
}

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  font-size: 3rem;
  background-color: #d3e0ea;
  padding: .5em .5em;
  z-index: 1;
}

.nav a {
  text-decoration: none;
  color: #111111;
  font-size: 2.4rem;
}

.nav__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 .1em;
}

.nav__box-logo {
  font-family: 'Train One', cursive;
  padding: .1em .2em;
}

.nav__box-barsBtn {
  background: none;
  border: transparent;
  font-size: 2.4rem;
  padding: .1em;
  cursor: pointer;
}

.nav__box-barsBtn i {
  padding: .1em .2em;
}

.nav__links--mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: bold;
}

.nav__links--mobile a {
  padding: .1em .3em;
  font-size: 0px;
  -webkit-transition: font-size .3s;
  transition: font-size .3s;
}

.nav__links--mobile a:nth-child(2) {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.nav__links--mobile a:nth-child(3) {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.nav__links--mobile a:nth-child(4) {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.nav__links--mobile--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__links--mobile--active a {
  font-size: 2rem;
  padding: .1em .3em;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(17%, rgba(22, 135, 167, 0.6)), color-stop(80%, rgba(39, 102, 120, 0.6))), url("../img/header/background-640.jpg");
  background-image: linear-gradient(90deg, rgba(22, 135, 167, 0.6) 17%, rgba(39, 102, 120, 0.6) 80%), url("../img/header/background-640.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-attachment: scroll;
}

.header__heading {
  padding: .2em 0;
  font-size: 3.6rem;
  font-family: 'Train One', cursive;
  text-transform: uppercase;
}

.header__text {
  padding-bottom: .4em;
  font-size: 1.8rem;
  text-shadow: 1px 1px #111111;
}

.header__button {
  position: relative;
  margin-top: .4rem;
  padding: .6em 2.5em;
  font-size: 1.4rem;
  color: #111111;
  background: #f6f5f5;
  border: 2px solid #276678;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: border .3s, color .3s;
  transition: border .3s, color .3s;
}

.header__button::before {
  content: 'calm';
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: -50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #276678;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.header__button:hover {
  border: 2px solid transparent;
  color: #d3e0ea;
}

.header__button:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

main .keep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background-color: #d3e0ea;
}

@media (min-width: 768px) {
  .header {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(17%, rgba(22, 135, 167, 0.6)), color-stop(80%, rgba(39, 102, 120, 0.6))), url("../img/header/background-1280.jpg");
    background-image: linear-gradient(90deg, rgba(22, 135, 167, 0.6) 17%, rgba(39, 102, 120, 0.6) 80%), url("../img/header/background-1280.jpg");
  }
  .header__heading {
    font-size: 6rem;
  }
  .header__text {
    font-size: 3rem;
  }
  .header__button {
    font-size: 2.2rem;
    padding: .6em 2.5em;
  }
}

@media (min-width: 992px) {
  .header__heading {
    font-size: 8rem;
  }
  .header__text {
    font-size: 4rem;
  }
  .header__button {
    font-size: 2rem;
    padding: .5em 2.5em;
  }
}
/*# sourceMappingURL=style.css.map */