.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: #d3e0ea;
}

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  font-size: 3rem;
  background-color: #d3e0ea;
  padding: .5em .5em;
  z-index: 1;
}

.nav a {
  text-decoration: none;
  color: #111111;
  font-size: 2.1rem;
  text-transform: uppercase;
}

.nav__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 .1em;
}

.nav__box-logo {
  font-family: 'Train One', cursive;
  padding: .1em .2em;
}

.nav__box-barsBtn {
  background: none;
  border: transparent;
  font-size: 2.4rem;
  padding: .1em;
  cursor: pointer;
}

.nav__box-barsBtn i {
  padding: .1em .2em;
}

.nav__box-links--desktop {
  display: none;
}

.nav__links--mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: bold;
}

.nav__links--mobile a {
  padding: .1em .3em;
  font-size: 0px;
  -webkit-transition: font-size .3s;
  transition: font-size .3s;
}

.nav__links--mobile a:hover {
  color: #276678;
}

.nav__links--mobile a:nth-child(2) {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.nav__links--mobile a:nth-child(3) {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.nav__links--mobile a:nth-child(4) {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.nav__links--mobile--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__links--mobile--active a {
  font-size: 2rem;
  padding: .1em .3em;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(17%, rgba(22, 135, 167, 0.6)), color-stop(80%, rgba(39, 102, 120, 0.6))), url("../img/header/background-640.jpg");
  background-image: linear-gradient(90deg, rgba(22, 135, 167, 0.6) 17%, rgba(39, 102, 120, 0.6) 80%), url("../img/header/background-640.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}

.header__heading {
  padding: .2em 0;
  font-size: 3.6rem;
  font-family: 'Train One', cursive;
  text-transform: uppercase;
}

.header__text {
  padding-bottom: .4em;
  font-size: 2.1rem;
  text-shadow: 1px 1px #111111;
  text-align: center;
}

.header__button {
  position: relative;
  margin-top: .4rem;
  padding: .6em 2.5em;
  font-size: 1.4rem;
  color: #111111;
  background: #f6f5f5;
  border: 2px solid #276678;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: border .3s, color .3s;
  transition: border .3s, color .3s;
}

.header__button::before {
  content: 'calm';
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: -50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #276678;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.header__button:hover {
  border: 2px solid transparent;
  color: #d3e0ea;
}

.header__button:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

main {
  background-color: #d3e0ea;
}

main .keep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  color: #111111;
}

main .keep-section-heading {
  font-family: 'Train One', cursive;
  font-size: 3rem;
  padding: .8em;
  text-align: center;
  letter-spacing: 2px;
}

main .keep__emotion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

main .keep__emotion-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 50vh;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(17%, rgba(22, 135, 167, 0.6)), color-stop(80%, rgba(39, 102, 120, 0.6))), url("../img/sections/keep/strong/strong-640.jpg");
  background-image: linear-gradient(90deg, rgba(22, 135, 167, 0.6) 17%, rgba(39, 102, 120, 0.6) 80%), url("../img/sections/keep/strong/strong-640.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

main .keep__emotion-img-head {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 6rem;
  color: #d3e0ea;
  font-weight: bold;
  letter-spacing: 5px;
  text-shadow: 2px 2px 30px #111111;
  text-transform: uppercase;
}

main .keep__emotion-img--proud {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(17%, rgba(22, 135, 167, 0.6)), color-stop(80%, rgba(39, 102, 120, 0.6))), url("../img/sections/keep/proud/proud-640.jpg");
  background-image: linear-gradient(90deg, rgba(22, 135, 167, 0.6) 17%, rgba(39, 102, 120, 0.6) 80%), url("../img/sections/keep/proud/proud-640.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

main .keep__emotion-img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

main .keep__emotion-text {
  font-size: 2.1rem;
  padding: 1em 1.3em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .nav .nav__links--mobile {
    display: none;
  }
  .nav__box {
    padding: 0 1em;
  }
  .nav__box-links--desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav__box-links--desktop a {
    padding: .1em .3em;
    -webkit-transition: color .3s;
    transition: color .3s;
    font-size: 2.8rem;
  }
  .nav__box-links--desktop a:hover {
    color: #1687a7;
  }
  .nav__box a {
    font-size: 3rem;
  }
  .nav__box-barsBtn {
    display: none;
  }
  .nav__box a {
    -webkit-transition: color .3s;
    transition: color .3s;
  }
  .nav__box a:hover {
    color: #276678;
  }
  .header {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(17%, rgba(22, 135, 167, 0.6)), color-stop(80%, rgba(39, 102, 120, 0.6))), url("../img/header/background-1280.jpg");
    background-image: linear-gradient(90deg, rgba(22, 135, 167, 0.6) 17%, rgba(39, 102, 120, 0.6) 80%), url("../img/header/background-1280.jpg");
  }
  .header__heading {
    font-size: 7rem;
  }
  .header__text {
    font-size: 4rem;
  }
  .header__button {
    font-size: 2.8rem;
    padding: .5em 2.5em;
  }
  main .keep-section-heading {
    font-size: 5rem;
    padding: .6em;
  }
  main .keep__emotion-img {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(17%, rgba(22, 135, 167, 0.6)), color-stop(80%, rgba(39, 102, 120, 0.6))), url("../img/sections/keep/strong/strong-1280.jpg");
    background-image: linear-gradient(90deg, rgba(22, 135, 167, 0.6) 17%, rgba(39, 102, 120, 0.6) 80%), url("../img/sections/keep/strong/strong-1280.jpg");
  }
  main .keep__emotion-img-head {
    font-size: 10rem;
  }
  main .keep__emotion-img--proud {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(17%, rgba(22, 135, 167, 0.6)), color-stop(80%, rgba(39, 102, 120, 0.6))), url("../img/sections/keep/proud/proud-1280.jpg");
    background-image: linear-gradient(90deg, rgba(22, 135, 167, 0.6) 17%, rgba(39, 102, 120, 0.6) 80%), url("../img/sections/keep/proud/proud-1280.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  main .keep__emotion-text {
    font-size: 4rem;
  }
  main .keep .keep__emotion-img--proud {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(17%, rgba(22, 135, 167, 0.6)), color-stop(80%, rgba(39, 102, 120, 0.6))), url("../img/sections/keep/proud/proud-1280.jpg");
    background-image: linear-gradient(90deg, rgba(22, 135, 167, 0.6) 17%, rgba(39, 102, 120, 0.6) 80%), url("../img/sections/keep/proud/proud-1280.jpg");
  }
}

@media (min-width: 992px) {
  .nav__box {
    padding: 0;
  }
  .header__heading {
    font-size: 8rem;
  }
  .header__text {
    font-size: 4rem;
  }
  .header__button {
    font-size: 2rem;
    padding: .5em 2.5em;
  }
  main .keep__emotion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    margin-bottom: 4em;
  }
  main .keep__emotion-img {
    width: 40%;
    height: 40vh;
    background-attachment: scroll;
    background-position-x: center;
    margin: 0 1em;
  }
  main .keep__emotion-img-head {
    font-size: 8rem;
  }
  main .keep__emotion-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    width: 60%;
    padding-left: 5rem;
    padding-right: .4em;
    text-align: left;
    font-size: 3rem;
  }
  main .keep__emotion-text--proud {
    padding-right: 5rem;
    padding-left: .4em;
  }
  main .keep__emotion--proud {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
/*# sourceMappingURL=style.css.map */