$pure-white: rgb(245, 245, 245);
$white: #f6f5f5;
$black: rgb(17, 17, 17);
$black-hover: rgb(170, 0, 0);

$grey: #d3e0ea;
$light-blue: #1687a7;
$dim-blue: #276678;

$light-blue-gradient: linear-gradient(90deg, rgba(22, 135, 167, .6) 17%, rgba(39, 102, 120, .6) 80%);
$blue-gradient-img: radial-gradient(circle, rgba(39, 102, 120, 1) 33%, rgba(22, 135, 167, 1) 78%);