@import 'colors';
@import 'mixin';
@import "components";


// reset padding to wrap max width to 1200px
.nav {
    &__box {
        padding: 0 auto;

    }
}

// change font sizes of header elements
.header {
    &__heading {
        font-size: 5rem;
    }

    &__text {
        font-size: 3rem;
    }

    &__button {
        margin-top: .5em;
        font-size: 2rem;
    }
}

// main
main {

    // first section keep
    .keep {
        &__emotion {
            // padding: 0 3em;
            display: flex;
            flex-direction: row;
            height: auto;
            margin-bottom: 4em;

            // img 
            &-img {
                width: 40%;
                height: 40vh;
                background-attachment: scroll;
                background-position-x: center;
                margin: 0 1em;

                &-head {
                    font-size: 8rem;
                }
            }

            // text next to img
            &-text {
                display: flex;
                align-items: center;
                height: auto;
                width: 60%;
                padding-left: 5rem;
                padding-right: .4em;
                text-align: left;
                font-size: 3rem;

                &--proud {
                    padding-right: 5rem;
                    padding-left: .4em;
                }
            }

            // set proud photo on right side
            &--proud {
                flex-direction: row-reverse;
            }
        }

    }

    // second section
    .hero-img {
        height: 60vh;

        &__title {
            font-size: 8rem;
            padding: .5em;
        }

        &__text {
            font-size: 3rem;
            padding: 1em;
        }
    }

    // calm section
    .calm {
        display: flex;
        padding: 0.6rem;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;

        // set position of cards in tablet view
        .wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        // cards box - change width to 45% and fonts
        &__card {
            margin: 1em;
            width: 30%;
            margin-bottom: 4.1rem;

            // front of the card
            &-front {
                &__head {
                    top: 1.2rem;
                    font-size: 3rem;
                }

                &__more-info {
                    font-size: 2.4rem;
                }
            }

            // back of the card 
            &-back {
                &__head {
                    top: 1.2rem;
                    font-size: 3rem;
                }

                &__description {
                    font-size: 2rem;
                }
            }
        }

        // set underline to 75% width
        &__card:hover {
            hr {
                width: 75%;
            }
        }
    }

    // therapy section
    .therapy {
        &__offers-box {
            width: 95%;
            height: 30vh;

            &__img {
                width: 40%;
                height: 30vh;
            }
        }

    }
}