@mixin backgroundImage ($bgUrl) {
    background-image: $light-blue-gradient, url($bgUrl);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

@mixin section-header {
    font-family: 'Train One', cursive;
    font-size: 3rem;
    padding: .5em 0;
    padding-bottom: .6em;
    text-align: center;
    font-weight: normal;
    letter-spacing: 2px;
}

@mixin card {
    background-size: cover;
    background-position: center;
}