@import 'colors';
@import 'mixin';
@import "components";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    // 10px
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: $grey;
}

// nav
.nav {
    // always on top
    position: fixed;
    width: 100%;
    top: 0;
    font-size: 3rem;
    background-color: $grey;
    padding: .5em .5em;
    z-index: 1;

    a {
        text-decoration: none;
        color: $black;
        font-size: 2.1rem;
        text-transform: uppercase;
    }

    // wrapper for logo and burger button
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 .1em;

        &-logo {
            font-family: 'Train One', cursive;
            padding: .1em .2em;
        }

        &-barsBtn {
            background: none;
            border: transparent;
            font-size: 2.4rem;
            padding: .1em;
            cursor: pointer;

            i {
                padding: .1em .2em;
            }
        }

        &-links--desktop {
            display: none;
        }
    }

    // links for mobile
    &__links--mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-weight: bold;
        width: 100%;

        // links shows before user click burger button
        a {
            padding: .1em .3em;
            font-size: 0px;
            transition: font-size .3s;
        }

        a:hover {
            color: $dim-blue;
        }

        // delay of transition for second link
        a:nth-child(2) {
            transition-delay: .1s;
        }

        // delay of transition for third link
        a:nth-child(3) {
            transition-delay: .2s;
        }

        // delay of transition for fourth link
        a:nth-child(4) {
            transition-delay: .3s;
        }

    }

    // shows menu after click burger button properties
    &__links--mobile--active {
        display: flex;
        background-color: $grey;
        width: 100vw;

        a {
            font-size: 2rem;
            padding: .1em .3em;
            text-align: center;

        }
    }





}

// header
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    @include backgroundImage('../img/header/background-640.jpg');
    background-attachment: scroll;

    //h1 - KEEP CALM
    &__heading {
        padding: .2em 0;
        font-size: 3.6rem;
        font-family: 'Train One', cursive;
        text-transform: uppercase;

    }

    // paragraph under g1
    &__text {
        padding-bottom: .4em;
        font-size: 2.1rem;
        text-shadow: 1px 1px $black;
        text-align: center;
    }

    // calm button
    &__button {
        position: relative;
        margin-top: .4rem;
        padding: .6em 2.5em;
        font-size: 1.4rem;
        color: $black;
        background: $white;
        border: 2px solid $dim-blue;
        border-radius: 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
        overflow: hidden;
        transition: border .3s, color .3s;

        // change background color and set scaleX to 0
        &::before {
            content: 'calm';
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            vertical-align: -50%;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $dim-blue;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform .3s;
        }

        // change border to transparent and font color to $grey
        &:hover {
            border: 2px solid transparent;
            color: $grey;
        }

        // set scaleX t
        &:hover::before {
            transform: scaleX(1);
        }
    }


}

// main
main {
    background-color: $grey;

    // first section - keep
    .keep {

        display: flex;
        flex-direction: column;
        width: 100%;
        color: $black;

        // Section header - KEEP 
        &-section-heading {
            // import from mixin.scss
            @include section-header;
        }

        // box of the img, text and heading of every "keep" emotion
        &__emotion {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            height: auto;
            width: 90%;

            // emotions photo
            &-img {
                display: flex;
                position: relative;
                width: 100%;
                height: 50vh;
                @include backgroundImage('../img/sections/keep/strong/strong-640.jpg');
                border-radius: 5px;
                transition: transform .5s;

                // emotions text inside img
                &-head {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 6rem;
                    color: $grey;
                    font-weight: bold;
                    letter-spacing: 5px;
                    text-shadow: 2px 2px 30px $black;
                    text-transform: uppercase;
                }

                // change photo to lion
                &--proud {
                    @include backgroundImage('../img/sections/keep/proud/proud-640.jpg');
                }

            }

            // if hover img  than it's 5 percent bigger
            &-img:hover {
                transform: scale(.95);
            }

            // text below img
            &-text {
                font-size: 2.1rem;
                padding: 1em 1.3em;
                justify-content: center;
                align-items: center;

                &--proud {
                    margin-bottom: 1.5rem;
                }
            }
        }
    }

    // second section - hero img
    .hero-img {
        display: flex;
        flex-direction: column;
        @include backgroundImage('../img/sections/hero/hero-640.jpg');
        height: 50vh;
        width: 100%;
        background-position-y: center;
        text-align: center;
        justify-content: center;
        overflow: hidden;

        &__title {
            font-family: 'Train One', cursive;
            font-size: 3.6rem;
            text-transform: uppercase;
            padding: .2em;
        }

        &__text {
            font-size: 2.1rem;
            padding: .4em;
            transition: color .3s;
        }

        &__text:hover {
            color: rgba(255, 255, 255, .6);
        }

        hr {
            width: 90%;
            margin: 0 auto;
        }

    }

    // calm section
    .calm {
        display: flex;
        color: $white;
        flex-direction: column;
        perspective: 2000px;


        // h3 section head
        &__section-heading {
            // import from mixin.scss
            @include section-header;
            color: $black;
        }

        // box of card properties
        &__card {
            display: flex;
            position: relative;
            margin: 0 auto;
            margin-bottom: 2rem;
            width: 90%;
            height: 40vh;
            text-align: center;
            border-radius: 8px;
            cursor: pointer;

            &--second {
                margin: 3rem auto;
            }

            &--third {
                margin-bottom: 3rem;
            }





            // front of the card before hover 
            &-front {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: flex;
                align-content: center;
                border-radius: 2px;
                box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
                transform: rotateY(180);
                opacity: 1;
                transition: opacity .6s, transform .6s;

                // name of the emotion
                &__head {
                    position: absolute;
                    top: 1rem;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 2.1rem;
                }

                // "tap or move cursor here" info 
                &__more-info {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 1.5rem;
                    font-weight: bold;
                    text-align: center;
                }

                // first front background image
                &--first {
                    @include card;
                    background-image: $light-blue-gradient, url('../img/sections/calm/pain/pain-640.jpg');
                }

                // second front background image
                &--second {
                    @include card;
                    background-image: $second-calm-gradient, url('../img/sections/calm/fear/fear-640.jpg');
                }

                // third front background image
                &--third {
                    @include card;
                    background-image: $third-calm-gradient, url('../img/sections/calm/loneliness/loneliness-640.jpg');
                }
            }

            // back of the card
            &-back {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-content: center;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 2px;
                box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
                transform: rotateY(180deg);
                opacity: 0;
                transition: opacity .6s, transform .6s;

                // header of back of the card
                &__head {
                    position: absolute;
                    top: 1rem;
                    left: 50%;
                    transform: translate(-50%);
                    font-size: 2.1rem;
                }

                // box of the description and head
                &__description {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: 1.2rem;

                    &__item {
                        position: relative;
                        margin: .6em;
                        list-style: none;
                    }

                    // underline
                    hr {
                        margin: 0 auto;
                        width: 0%;
                        transition: width 1s ease-in-out;
                    }
                }

                // first back background image
                &--first {
                    background-image: $light-blue-gradient-solid;
                }

                // second back background image
                &--second {
                    background-image: $second-calm-gradient-solid;
                }

                // third back background image
                &--third {
                    background-image: $third-calm-gradient-solid;
                }
            }
        }

        // actions after tap or hover a card
        &__card:hover {

            // rotate front 
            .calm__card-front {
                transform: rotateY(-180deg);
                opacity: 0;

            }

            // rotate back
            .calm__card-back {
                transform: rotateY(0);
                opacity: 1;

            }

            // set underline to 60% width
            hr {
                width: 60%;
            }
        }
    }

    .therapy {
        @include backgroundImage("../img/sections/therapy/background/therapy-bgc-640.jpg");
        background-attachment: fixed;
        display: flex;
        flex-direction: column;

        &__section-heading {
            @include section-header;
        }

        &__offers-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 90%;
            margin: .8rem auto;

            &--middle {
                margin: 3rem auto;
            }

            &--last {
                margin-bottom: 3rem;
            }

            &__img {
                width: 100%;
                filter: grayscale(100%);
                box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
            }

            &__right {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                text-align: center;
                background-color: $grey;
                color: $black;

                &__head {
                    font-size: 3rem;
                    text-align: center;
                    padding: .3em;
                    text-transform: uppercase;
                }

                &__text {
                    font-size: 2rem;
                    padding: .45em;
                }

                &__btn {
                    position: relative;
                    background-color: $light-blue;
                    border: none;
                    margin: .45em;
                    margin-bottom: .9em;
                    padding: .45em;
                    border-radius: 8px;
                    font-size: 2rem;
                    text-transform: uppercase;
                    cursor: pointer;
                    z-index: 10;
                    overflow: hidden;
                    transition: color .6s;

                }

                &__btn::before {
                    position: absolute;
                    top: -10%;
                    left: 0;
                    content: '';
                    width: 100%;
                    height: 200%;
                    background-color: $dim-blue;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform .6s;
                    z-index: -1;
                }

                &__btn:hover::before {
                    transform: scale(1);
                }

                &__btn:hover {
                    color: $white;
                }




            }


        }


    }



}

// MEDIA
@media(min-width: 768px) {
    .nav {

        // disable mobile viev of nav
        .nav__links--mobile {
            display: none;
        }

        // box of nav
        &__box {
            padding: 0 1em;

            // desktop links enable
            &-links--desktop {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;

                // nav links
                a {
                    padding: .1em .3em;
                    transition: color .3s;
                    font-size: 2.2rem;
                }

                // nav links hover
                a:hover {
                    color: $light-blue;
                }
            }

            a {
                font-size: 2.5rem;
            }

            // hamburger btn
            &-barsBtn {
                display: none;
            }

            a {
                transition: color .3s;
            }

            a:hover {
                color: $dim-blue;
            }

        }
    }

    .header {
        // Change header background resolution to higher
        background-image: $light-blue-gradient, url('../img/header/background-1280.jpg');

        // keep-calm h1
        &__heading {
            font-size: 7rem;
        }

        // text under h1
        &__text {
            font-size: 4rem;
        }

        // button keep calm
        &__button {
            font-size: 2.8rem;
            padding: .5em 2.5em;
        }
    }

    main {

        // first section
        .keep {
            &-section-heading {
                font-size: 5rem;
                padding: .6em;
            }

            &__emotion {

                // Change resolution of pride emotions background
                &-img {
                    background-image: $light-blue-gradient, url('../img/sections/keep/strong/strong-1280.jpg');

                    &-head {
                        font-size: 10rem;
                    }

                    &--proud {
                        @include backgroundImage('../img/sections/keep/proud/proud-1280.jpg');
                    }

                }

                &-text {
                    font-size: 4rem;
                }
            }

            .keep__emotion-img--proud {
                background-image: $light-blue-gradient, url('../img/sections/keep/proud/proud-1280.jpg');
            }

        }

        // second section
        .hero-img {
            background-image: $light-blue-gradient, url('../img/sections/hero/hero-1280.jpg');
            height: 50vh;

            &__title {
                font-size: 7rem;
                padding: .4em;
            }

            &__text {
                font-size: 4rem;
                padding: .8em;
            }
        }

        // calm section
        .calm {
            padding: 0.6rem;
            width: 100%;
            justify-content: center;
            flex-direction: column;

            // set position of cards in tablet view
            .wrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            &__section-heading {
                font-size: 5rem;
                padding: .6em;
            }

            // cards box - change width to 45% and fonts
            &__card {
                margin: 1em;
                width: 45%;

                &--third {
                    margin: 4rem 0;
                }

                &-front {
                    &__head {
                        top: 2rem;
                        font-size: 4rem;
                    }

                    &__more-info {
                        font-size: 2.4rem;
                    }
                }

                &-back {
                    &__head {
                        top: 2rem;
                        font-size: 4rem;
                    }

                    &__description {
                        font-size: 2.2rem;
                    }
                }
            }
        }

        .therapy {

            &__section-heading {
                font-size: 5rem;
                padding: .6em;
            }

            &__offers-box {
                flex-direction: row;
                width: 100%;

                &__img {
                    width: 40%;
                }

                &__right {
                    &__text {
                        font-size: 2.4rem;
                    }

                    &__btn {
                        font-size: 2.2rem;
                    }


                }
            }

        }


    }
}

@media(min-width: 992px) {

    // reset padding to wrap max width to 1200px
    .nav {
        &__box {
            padding: 0;
        }
    }

    // change font sizes of header elements
    .header {
        &__heading {
            font-size: 8rem;
        }

        &__text {
            font-size: 4rem;
        }

        &__button {
            font-size: 2rem;
            padding: .5em 2.5em;
        }
    }

    // main
    main {

        // first section keep
        .keep {
            &__emotion {
                // padding: 0 3em;
                display: flex;
                flex-direction: row;
                height: auto;
                margin-bottom: 4em;

                // img 
                &-img {
                    width: 40%;
                    height: 40vh;
                    background-attachment: scroll;
                    background-position-x: center;
                    margin: 0 1em;

                    &-head {
                        font-size: 8rem;
                    }
                }

                // text next to img
                &-text {
                    display: flex;
                    align-items: center;
                    height: auto;
                    width: 60%;
                    padding-left: 5rem;
                    padding-right: .4em;
                    text-align: left;
                    font-size: 3rem;

                    &--proud {
                        padding-right: 5rem;
                        padding-left: .4em;
                    }
                }

                // set proud photo on right side
                &--proud {
                    flex-direction: row-reverse;
                }
            }

        }

        // second section
        .hero-img {
            height: 60vh;

            &__title {
                font-size: 8rem;
                padding: .5em;
            }

            &__text {
                font-size: 3rem;
                padding: 1em;
            }
        }

        .calm {
            display: flex;
            padding: 0.6rem;
            width: 100%;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            // set position of cards in tablet view
            .wrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            // cards box - change width to 45% and fonts
            &__card {
                margin: 1em;
                width: 30%;
                margin-bottom: 4.1rem;

                // front of the card
                &-front {
                    &__head {
                        top: 1.2rem;
                        font-size: 3rem;
                    }

                    &__more-info {
                        font-size: 2.4rem;
                    }
                }

                // back of the card 
                &-back {
                    &__head {
                        top: 1.2rem;
                        font-size: 3rem;
                    }

                    &__description {
                        font-size: 2rem;
                    }
                }
            }

            // set underline to 75% width
            &__card:hover {
                hr {
                    width: 75%;
                }
            }
        }
    }
}