@import 'colors';
@import 'mixin';
@import "components";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    // 10px
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 7.9vh;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: $grey;
    overflow: hidden;
}

// nav
.nav {
    // always on top
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em .5em;
    width: 100%;
    height: 8vh;
    font-size: 3rem;
    background-color: $grey;
    z-index: 20;

    // nav links
    a {
        text-decoration: none;
        color: $black;
        font-size: 2rem;
        text-transform: uppercase;
    }

    // wrapper for logo and burger button
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 .1em;

        // desktop viev disable
        &-links--desktop {
            display: none;
        }

        &-logo {
            font-family: 'Train One', cursive;
            font-size: 2.4rem;
            padding: .1em .3em;
        }

        &-barsBtn {
            background: none;
            border: transparent;
            font-size: 2.4rem;
            cursor: pointer;

            i {
                padding: .1em .3em;
            }
        }
    }

    // links for mobile
    &__links--mobile {
        position: fixed;
        top: 8vh;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 0vh;
        width: 100%;
        background-color: $grey;
        transition: height .6s;

        // links shows before user click burger button
        a {
            top: 8vh;
            padding: .3em .3em;
            font-size: 1.6rem;
            transform: translateY(-300%);
            transition: transform .6s, color .3s;
        }

        // underline
        a::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: $light-blue;
            height: 2px;
            transition: .3s;
            transform: scaleX(0);
            transform-origin: center;
        }

        a:hover::before {
            transform: scaleX(1);
        }

        // nav link hover
        a:hover {
            color: $light-blue;
        }
    }

    // shows menu after click burger button properties
    &__links--mobile--active {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $grey;
        height: 8vh;

        a {
            transform: translateY(0);
        }
    }
}

// header
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    @include backgroundImage('../img/header/background-640.jpg');
    background-attachment: scroll;

    //h1 - KEEP CALM
    &__heading {
        padding: .2em 0;
        font-size: 3rem;
        font-family: 'Train One', cursive;
        text-transform: uppercase;
    }

    // paragraph under g1
    &__text {
        padding-bottom: .4em;
        font-size: 2rem;
        text-shadow: 1px 1px $black;
        text-align: center;
    }

    // calm button
    &__button {
        position: relative;
        margin-top: .4rem;
        padding: .6em 2.5em;
        font-size: 1.4rem;
        color: $black;
        background: $white;
        border: 2px solid $dim-blue;
        border-radius: 8px;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
        overflow: hidden;
        transition: border .3s, color .3s;

        // change background color and set scaleX to 0
        &::before {
            content: 'calm';
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            vertical-align: -50%;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $dim-blue;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform .3s;
        }

        // change border to transparent and font color to $grey
        &:hover {
            border: 2px solid transparent;
            color: $grey;
        }

        // set scaleX to 1
        &:hover::before {
            transform: scaleX(1);
        }
    }
}

// main
main {
    background-color: $grey;

    // first section - keep
    .keep {
        display: flex;
        flex-direction: column;
        width: 100%;
        color: $black;

        // Section header - KEEP 
        &-section-heading {
            // import from mixin.scss
            @include section-header;
        }

        // box of the img, text and heading of every "keep" emotion
        &__emotion {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            height: auto;
            width: 90%;

            // emotions photo
            &-img {
                display: flex;
                position: relative;
                width: 100%;
                height: 50vh;
                @include backgroundImage('../img/sections/keep/strong/strong-640.jpg');
                border-radius: 8px;
                transition: transform .5s;

                // emotions text inside img
                &-head {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 5rem;
                    color: $grey;
                    font-weight: bold;
                    letter-spacing: 5px;
                    text-shadow: 2px 2px 30px $black;
                    text-transform: uppercase;
                }

                // change photo to lion
                &--proud {
                    @include backgroundImage('../img/sections/keep/proud/proud-640.jpg');
                }

            }

            // if hover img  than it's 5 percent bigger
            &-img:hover {
                transform: scale(.95);
            }

            // text below img
            &-text {
                display: flex;
                width: 100%;
                font-size: 2.1rem;
                padding: .7em;
                padding-bottom: 1em;
                justify-content: center;
                align-items: center;
            }
        }
    }

    // second section - hero img
    .hero-img {
        display: flex;
        flex-direction: column;
        @include backgroundImage('../img/sections/hero/hero-640.jpg');
        height: 50vh;
        width: 100%;
        background-position-y: center;
        text-align: center;
        justify-content: center;
        overflow: hidden;

        &__title {
            font-family: 'Train One', cursive;
            font-size: 3.6rem;
            text-transform: uppercase;
            padding: .2em;
        }

        &__text {
            font-size: 2.1rem;
            padding: .4em;
            transition: color .3s;
        }

        &__text:hover {
            color: rgba(255, 255, 255, .6);
        }

        hr {
            width: 90%;
            margin: 0 auto;
        }

    }

    // calm section
    .calm {
        display: flex;
        color: $white;
        flex-direction: column;
        perspective: 2000px;


        // h3 section head
        &__section-heading {
            // import from mixin.scss
            @include section-header;
            color: $black;
        }

        // box of card properties
        &__card {
            display: flex;
            position: relative;
            margin: 0 auto;
            margin-bottom: 2rem;
            width: 90%;
            height: 40vh;
            text-align: center;
            border-radius: 8px;
            cursor: pointer;

            &--second {
                margin: 3rem auto;
            }

            &--third {
                margin-bottom: 3rem;
            }





            // front of the card before hover 
            &-front {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: flex;
                align-content: center;
                border-radius: 2px;
                box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
                transform: rotateY(180);
                opacity: 1;
                transition: opacity .6s, transform .6s;

                // name of the emotion
                &__head {
                    position: absolute;
                    top: 1rem;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 2.1rem;
                }

                // "tap or move cursor here" info 
                &__more-info {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 1.5rem;
                    font-weight: bold;
                    text-align: center;
                }

                // first front background image
                &--first {
                    @include card;
                    background-image: $light-blue-gradient, url('../img/sections/calm/pain/pain-640.jpg');
                }

                // second front background image
                &--second {
                    @include card;
                    background-image: $second-calm-gradient, url('../img/sections/calm/fear/fear-640.jpg');
                }

                // third front background image
                &--third {
                    @include card;
                    background-image: $third-calm-gradient, url('../img/sections/calm/loneliness/loneliness-640.jpg');
                }
            }

            // back of the card
            &-back {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-content: center;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 2px;
                box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
                transform: rotateY(180deg);
                opacity: 0;
                transition: opacity .6s, transform .6s;

                // header of back of the card
                &__head {
                    position: absolute;
                    top: 1rem;
                    left: 50%;
                    transform: translate(-50%);
                    font-size: 2.1rem;
                }

                // box of the description and head
                &__description {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: 1.2rem;

                    &__item {
                        position: relative;
                        margin: .6em;
                        list-style: none;
                    }

                    // underline
                    hr {
                        margin: 0 auto;
                        width: 0%;
                        transition: width 1s ease-in-out;
                    }
                }

                // first back background image
                &--first {
                    background-image: $light-blue-gradient-solid;
                }

                // second back background image
                &--second {
                    background-image: $second-calm-gradient-solid;
                }

                // third back background image
                &--third {
                    background-image: $third-calm-gradient-solid;
                }
            }
        }

        // actions after tap or hover a card
        &__card:hover {

            // rotate front 
            .calm__card-front {
                transform: rotateY(-180deg);
                opacity: 0;

            }

            // rotate back
            .calm__card-back {
                transform: rotateY(0);
                opacity: 1;

            }

            // set underline to 60% width
            hr {
                width: 60%;
            }
        }
    }

    // therapy section
    .therapy {
        @include backgroundImage("../img/sections/therapy/background/therapy-bgc-640.jpg");
        background-attachment: fixed;
        display: flex;
        flex-direction: column;

        // head
        &__section-heading {
            @include section-header;
        }

        // box 
        &__offers-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 90%;
            margin: 0 auto;

            // second offer
            &--middle {
                margin: 3rem auto;
            }

            // last offer
            &--last {
                margin-bottom: 3rem;
            }

            // img inside box
            &__img {
                height: 30vh;
                width: 100%;
                filter: grayscale(100%);
                box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
            }

            // text under photo - on right after 768px breakpoint
            &__right {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                text-align: center;
                background-color: $grey;
                color: $black;


                // name of offer
                &__head {
                    font-size: 3rem;
                    text-align: center;
                    padding: .3em;
                    text-transform: uppercase;
                }

                // text inside offer
                &__text {
                    font-size: 2rem;
                    padding: .45em;
                }

                // button to order
                &__btn {
                    position: relative;
                    background-color: $light-blue;
                    border: none;
                    margin: .45em;
                    margin-bottom: .9em;
                    padding: .45em;
                    border-radius: 8px;
                    font-size: 2rem;
                    text-transform: uppercase;
                    cursor: pointer;
                    z-index: 10;
                    overflow: hidden;
                    transition: color .6s;
                }


                &__btn::before {
                    position: absolute;
                    top: -10%;
                    left: 0;
                    content: '';
                    width: 100%;
                    height: 200%;
                    background-color: $dim-blue;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform .6s;
                    z-index: -1;
                }

                &__btn:hover::before {
                    transform: scale(1);
                }

                &__btn:hover {
                    color: $white;
                }


            }

            &__button {
                width: 100%;
                height: 100%;
                font-size: 2rem;
                background: none;
                border: none;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
    }

    // contact
    .contact {
        color: $black;

        // header
        &__section-heading {
            @include section-header;
        }

        // box of contact
        &__box {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: 0 auto;

            // name abd email
            &__top {
                display: flex;
                flex-direction: column;


                &__label {
                    margin: .2em 0;
                }

                &__input {
                    margin: .2em 0;
                }
            }

            // text area where user write about problems
            &__textarea {
                max-width: 100%;
                min-width: 100%;
                width: 100%;
                min-height: 150px;
                margin: .2em 0;
            }

            &__submit {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            &__submit-text {
                padding: .5em;
                opacity: 0;
            }

            // sumbit button
            &__button {
                display: flex;
                justify-content: center;
                padding: .5em;
                margin-top: .3em;
                margin-bottom: 2rem;
                width: 100%;
                max-width: 100px;
                background-color: $light-blue;
                border: none;
                border-radius: 8px;
                text-transform: uppercase;
                letter-spacing: 1px;
                cursor: pointer;
                transition: background-color .3s;
            }

            &__button:hover {
                background-color: $dim-blue;
            }

        }
    }
}

// footer
.footer {
    @include backgroundImage('../img/footer/footer-small.jpg');
    width: 100%;
    height: 100%;
    padding: 3rem 0;


    // box of footer
    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        // name of site
        &__head {
            font-size: 1.8rem;
            padding: .2em;
        }

        // text under head
        &__text {
            font-size: 1.4rem;
            text-align: center;
            padding: .2em;
            width: 90%;
        }

        // links to socials
        &__links {
            font-size: 1.4rem;
            text-decoration: none;
            margin: .4em;

            // links
            a {
                padding: .4em;
                cursor: pointer;
                color: $white;
            }
        }
    }

}